@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInTop {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-left {
  animation: slideInLeft 0.5s ease-out forwards;
}

.slide-in-top {
  animation: slideInTop 0.5s ease-out forwards;
}

.slide-in-left-delayed {
  animation: slideInLeft 0.8s ease-out forwards;
}

.slide-in-left-more-delayed {
  animation: slideInLeft 1s ease-out forwards;
}

.slide-in-right{
    animation: slideInRight 1s ease-out forwards;
}